<a href="https://colab.research.google.com/github/2303A51801/Datascience-3-2/blob/main/Datascience02ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
print('Original Array:', arr)

Original Array: [10 20 30 40 50]

In [ ]:
arr + 5 # Add 5 to each element
arr * 2 #Multiply each element by 2
arr[arr > 25] #Filter elements > 25
arr[arr % 2 == 0] # Filter even elements

array([10, 20, 30, 40, 50])

In [ ]:

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Score': [85.5, 92.0, 88.0, 76.5]
}

In [ ]:
df=pd.DataFrame(data)
print(df)

      Name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   88.0
3    David   40   76.5

In [ ]:
df['Passed'] = df['Score'] >= 80
print("\nDataFrame with 'Passed' column:\n", df)

# Filter rows where Age > 30
older_students = df[df['Age'] > 30]
print("\nStudents older than 30:\n", older_students)

# Calculate average score
average_score = df['Score'].mean()
print("\nAverage Score:", average_score)

DataFrame with 'Passed' column:
       Name  Age  Score  Passed
0    Alice   25   85.5    True
1      Bob   30   92.0    True
2  Charlie   35   88.0    True
3    David   40   76.5   False

Students older than 30:
       Name  Age  Score  Passed
2  Charlie   35   88.0    True
3    David   40   76.5   False

Average Score: 85.5

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 40], 'Score': [85.5, 92.0, 88.0, 76.5]}
df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   88.0
3    David   40   76.5

In [ ]:
df['Passed'] = df['Score'] >= 80
Filter: df[df['Age'] > 30]
Average: df['Score'].mean()