<a href="https://colab.research.google.com/github/2303A51801/Datascience-3-2/blob/main/PDSLAB4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("course_feedback.csv")

In [17]:
df = df.dropna(subset=['Rating'])

In [18]:
filtered_df = df[(df['Course_Name'] == 'Python for Data Science') & (df['Rating'] >= 4)]

In [19]:
for index, row in filtered_df.iterrows():
    print(f"User: {row['User_ID']}")
    print(f"Feedback: {row['Feedback']}")
    print("-" * 30)

User: U101
Feedback: Excellent course, very detailed!
------------------------------
User: U102
Feedback: Good content and easy to follow.
------------------------------
User: U106
Feedback: Loved the practical examples!
------------------------------

In [20]:
display(filtered_df['Rating'])

0    5.0
1    4.0
5    4.0
Name: Rating, dtype: float64

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("air_quality.csv")

In [23]:
df = df.fillna(method='ffill')

/tmp/ipython-input-569672361.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')

In [24]:
polluted_days = df[(df['PM2.5'] > 150) & (df['NO2'] > 80)]

In [25]:
print("Polluted Day Records (PM2.5 > 150 and NO2 > 80):\n")
print(polluted_days[['Location', 'PM2.5', 'NO2', 'Date']])

Polluted Day Records (PM2.5 > 150 and NO2 > 80):

           Location  PM2.5   NO2        Date
1   Industrial Area  160.0  85.0  2025-08-02
3       City Center  180.0  95.0  2025-08-04
4   Industrial Area  155.0  95.0  2025-08-05
5  Residential Zone  155.0  82.0  2025-08-06