<a href="https://colab.research.google.com/github/2303A51801/Datascience-3-2/blob/main/PSD_LAB6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
data = {
    "Patient_ID": range(1, 16),
    "Age": [25, 34, 45, 67, 89, 120, 5, -3, 132, 54, 76, 29, 101, 38, 200]
}

df = pd.DataFrame(data)

print("---- Original Dataset ----")
print(df)

---- Original Dataset ----
    Patient_ID  Age
0            1   25
1            2   34
2            3   45
3            4   67
4            5   89
5            6  120
6            7    5
7            8   -3
8            9  132
9           10   54
10          11   76
11          12   29
12          13  101
13          14   38
14          15  200

In [8]:
valid_age_min = 0
valid_age_max = 120

# Step 3: Detect outliers (invalid ages)
outliers = df[(df["Age"] < valid_age_min) | (df["Age"] > valid_age_max)]

print("\n---- Detected Outliers ----")
print(outliers)

---- Detected Outliers ----
    Patient_ID  Age
7            8   -3
8            9  132
14          15  200

In [9]:
df_cleaned = df[(df["Age"] >= valid_age_min) & (df["Age"] <= valid_age_max)]

In [10]:
print("\n---- Cleaned Dataset ----")
print(df_cleaned)

---- Cleaned Dataset ----
    Patient_ID  Age
0            1   25
1            2   34
2            3   45
3            4   67
4            5   89
5            6  120
6            7    5
9           10   54
10          11   76
11          12   29
12          13  101
13          14   38

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Step 1: Create a sample banking dataset with customer incomes
data = {
    "Customer_ID": range(1, 11),
    "Income": [15000, 25000, 35000, 45000, 60000, 75000, 100000, 120000, 150000, 200000]
}

df = pd.DataFrame(data)

print("---- Original Dataset ----")
print(df)

# Step 2: Apply Min-Max Normalization
scaler_minmax = MinMaxScaler()
df["Income_MinMax"] = scaler_minmax.fit_transform(df[["Income"]])

# Step 3: Apply Standardization (Z-score normalization)
scaler_standard = StandardScaler()
df["Income_Standardized"] = scaler_standard.fit_transform(df[["Income"]])

print("\n---- Dataset After Scaling ----")
print(df)

---- Original Dataset ----
   Customer_ID  Income
0            1   15000
1            2   25000
2            3   35000
3            4   45000
4            5   60000
5            6   75000
6            7  100000
7            8  120000
8            9  150000
9           10  200000

---- Dataset After Scaling ----
   Customer_ID  Income  Income_MinMax  Income_Standardized
0            1   15000       0.000000            -1.190224
1            2   25000       0.054054            -1.013895
2            3   35000       0.108108            -0.837565
3            4   45000       0.162162            -0.661236
4            5   60000       0.243243            -0.396741
5            6   75000       0.324324            -0.132247
6            7  100000       0.459459             0.308577
7            8  120000       0.567568             0.661236
8            9  150000       0.729730             1.190224
9           10  200000       1.000000             2.071872